html{
  font-family: 'Source Sans Pro', sans-serif;
}

/*Estilo para el nav*/

#cabecera{
	height: 132px;
	background: #FFFFFF;
}

#cabecera-rrss{
	height: 35px;
	background: #ECECEC;
	font-family: 'Source Sans Pro semibold';
}

#cabecera-rrss ul{
	margin-right: 40px;
  color: #666666;
}

#logo{
	margin-left: 121px;
	margin-top: 25px;
	margin-right: 122px;
	margin-bottom: 31px;
}

.secciones-nav-ul{

	margin-top: 30px;
	margin-right: 40px;
	margin-bottom: 63px;
}

.secciones-nav-ul li a{
	color: #6D6D6D;
	font-family: 'Source Sans Pro semibold';
}

/*Estilos para el slider*/


#slider-home div{
	background: -moz-linear-gradient(top, rgba(58,58,58,0.8) 26%, rgba(58,58,58,0.41) 98%, rgba(58,58,58,0.4) 100%, rgba(58,58,58,0.4) 102%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(58,58,58,0.8) 26%,rgba(58,58,58,0.41) 98%,rgba(58,58,58,0.4) 100%,rgba(58,58,58,0.4) 102%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(58,58,58,0.8) 26%,rgba(58,58,58,0.41) 98%,rgba(58,58,58,0.4) 100%,rgba(58,58,58,0.4) 102%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc3a3a3a', endColorstr='#663a3a3a',GradientType=0 ); /* IE6-9 */
	margin-top: 150px;
}

#slider-home .caption-home{
    top: 15%;
    left: 25%;
    width: 50%;
    opacity: 0;
}

.title-text-slider{
	font-size: 25px;
	font-family: 'Source Sans Pro semibold';
    text-align: center;
}

.content-text-slider{
	font-family: 'Source Sans Pro semibold';
    text-align: center;
	font-size: 65px;
}

.title-home{
	font-size: 35px;
	color: #E1131B;
	font-family: 'Source Sans Pro light';
}

#container-fluid{
  width: 100%;
}

#container-fluid .card-destacados{
	width: 270px; 
	height: 270px;
}

#container-fluid .card-destacados img{
	margin-left: auto;
	margin-right: auto;
	display: block;
}

#container-fluid .card .card-title-destacados{
	font-family: 'Source Sans Pro semibold';
    text-align: right;
	font-size: 19px;
	width: 270px; 
	height: 71px;
}

#container-fluid .card .card-action{
	width: 270px; 
	height: 75px;
	color: #595959;
}

#container-fluid-empresa{
  	width: 100%;
	background: #F8F8F8;
}

#container-fluid-empresa img{
	margin-top: 5%
}

#title-empresa{
  	color: #DF1319;
	font-size: 48px;
	font-family: 'Source Sans Pro light';
}

#content-empresa{
	font-size: 18px;
	color: #666666;
}

#footer{
	background: #595959;
}

#footer h5{
	color: #033561;
	font-size: 17px;
	font-weight: bold
}

#footer .footer-text{
	color: #EEEEEE;
	font-size: 16px;	
}