html{
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 18px
}

/*Estilo para el nav*/

#cabecera{
	height: 132px;
	background: #FFFFFF;
}

#cabecera li{
	font-family: 'Source Sans Pro semibold';
	font-size: 18px;

}

#cabecera-rrss{
	height: 35px;
	background: #ECECEC;
	font-family: 'Source Sans Pro semibold';
}

#cabecera-rrss ul{
	margin-right: 40px;
	color: #666666;
}

#logo{
	margin-left: 121px;
	margin-top: 25px;
	margin-right: 122px;
	margin-bottom: 31px;
}

.secciones-nav-ul{

	margin-top: 30px;
	margin-right: 40px;
	margin-bottom: 63px;
}

#seccion-active{
	color: #DF1319;
}
.secciones-nav-ul li a{
	color: #6D6D6D;
	font-family: 'Source Sans Pro semibold';
}


color: #6D6D6D;
font-family: 'Source Sans Pro semibold';
}

/*Estilos para el slider*/


#slider-home div{
	background: -moz-linear-gradient(top, rgba(58,58,58,0.8) 26%, rgba(58,58,58,0.41) 98%, rgba(58,58,58,0.4) 100%, rgba(58,58,58,0.4) 102%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(58,58,58,0.8) 26%,rgba(58,58,58,0.41) 98%,rgba(58,58,58,0.4) 100%,rgba(58,58,58,0.4) 102%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(58,58,58,0.8) 26%,rgba(58,58,58,0.41) 98%,rgba(58,58,58,0.4) 100%,rgba(58,58,58,0.4) 102%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc3a3a3a', endColorstr='#663a3a3a',GradientType=0 ); /* IE6-9 */
	margin-top: 150px;
}

#slider-home .caption-home{
	top: 15%;
	left: 25%;
	width: 50%;
	opacity: 0;
	background: -moz-linear-gradient(top, rgba(58,58,58,0.8) 26%, rgba(58,58,58,0.41) 98%, rgba(58,58,58,0.4) 100%, rgba(58,58,58,0.4) 102%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(58,58,58,0.8) 26%,rgba(58,58,58,0.41) 98%,rgba(58,58,58,0.4) 100%,rgba(58,58,58,0.4) 102%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(58,58,58,0.8) 26%,rgba(58,58,58,0.41) 98%,rgba(58,58,58,0.4) 100%,rgba(58,58,58,0.4) 102%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc3a3a3a', endColorstr='#663a3a3a',GradientType=0 ); /* IE6-9 */
	margin-top: 150px;
}

.title-text-slider{
	font-size: 25px;
	font-family: 'Source Sans Pro semibold';
	text-align: center;
}

.content-text-slider{
	font-family: 'Source Sans Pro semibold';
	text-align: center;
	font-size: 65px;
}

.title-home{
	font-size: 35px;
	color: #E1131B;
	font-family: 'Source Sans Pro light';
}

#container-fluid{
	width: 100%;
}

#container-fluid-secciones{
	width: 85%;
}

#container-fluid .card-destacados{
	width: 270px; 
	height: 270px;
}

#container-fluid .card-destacados img{
	margin-left: auto;
	margin-right: auto;
	display: block;
}

#container-fluid .card .card-title-destacados{
	font-family: 'Source Sans Pro semibold';
	text-align: right;
	font-size: 19px;
	width: 270px; 
	height: 71px;
}

#container-fluid .card .card-action{
	width: 270px; 
	height: 75px;
	color: #595959;
}

#container-fluid-empresa{
	width: 100%;
	background: #F8F8F8;
}

#container-fluid-empresa img{
	margin-top: 5%
}

#title-empresa{
	color: #DF1319;
	font-size: 48px;
	font-family: 'Source Sans Pro light';
}

#content-empresa{
	font-size: 18px;
	color: #666666;
}

#footer{
	background: #595959;
	margin-top: 5%
}

#footer h5{
	color: #033561;
	font-size: 17px;
	font-weight: bold
}

#footer .footer-text{
	color: #EEEEEE;
	font-size: 16px;	
}

.cabecera-secciones{
	background: #ECECEC;
	height: 120px;
}

.cabecera-secciones h5{
	position: absolute;
	margin-top: 3%;
	margin-left: 9%;
}

.title-text-servicios{
	color: #4B4B4B;
	font-size: 25px;
	font-family: 'Source Sans Pro semibold';
}

.title-servicios h3{
	color: #DF1319;
	font-size: 48px;
	font-family: 'Source Sans Pro light';
}

.title-servicios .divider{
	background: #DF1319
}

.img-servicios img{
	height: 290px;
	width: 570px;
}

.divider-secciones{
	margin-top: 5%;
	margin-bottom: 5%;
}

.title-calidad{
	font-family: 'Source Sans Pro semibold';
	font-size: 35px;
	color: #3F51B5;
	font-style: italic;
}

.calidad-descargable-div{
	padding: 20px !important;
	background: #F8F8F8;
	border: 1px solid #DDDDDD;
	border-bottom: 3px solid #3F51B5;
	height: 120px;

}

.title-text-calidad{
	font-size: 18px;
}

.text-calidad-desc{
	font-size: 18px
}

.card-descargas-div{
	max-width: 200px;
	height: 280px;
	border: 1px solid #666666;
}

.title-text-descarga{
	color: #666666;
	font-size: 15px;
	padding: 0px 20px 20px 0px;
	height: 60px;
	border-bottom: 1px solid #DDDDDD
}

.divider-descargas{
	max-width: 200px;
}

.iconos-descargas{
	width: 45px;
	height: 30px;
	margin-top: 2%
}

.down-icon{
	color: white;
	background: black
}
.view-icon{
	color: white;
	background: red
}

#map {
	max-height: 325px;
	width: 100%;
}



.card-familias-div{
	max-width: 270px;
	height: 270px;
	border: 1px solid #FFFFFF;
}

.title-text-familias{
	font-family: 'Source Sans Pro semibold';
	font-size: 15px;
	color: #DF1319;
}

.cont-image{
	width: 270px;
	height:270px;
	position: absolute;
	top: 0px;
	left: 0px;
}

.card-familias div:hover{
	background-color: rgb(147,152,158);
	opacity: 0.5;
	background-image: url('../images/mas.png');
	background-repeat: no-repeat;
	background-position: center;
}


.collapsible-familia{
	border-top: none !important;
    border-right: none !important;
    border-left: none !important;
    margin: 0rem 0 0rem 0 !important;
	border-bottom: 1px solid #93989E !important;
}

.collapsible-familia-header{
	border-bottom: 1px solid #93989E !important;
	color: #93989E !important;
}


.collapsible-familia ul li a{
	color: #93989E !important;
	font-family: 'Source Sans Pro semibold';
}

a.hover.collapsible-header.collapsible-familia-header.active{
	color: #E1131B !important;
	border-bottom: 1px solid #E1131B !important;
	
}

a.hover.collapsible-header.collapsible-familia-header.active{
	color: #E1131B !important;
	border-bottom: 1px solid #E1131B !important;
}

a.hover.producto.active{
	color: #E1131B !important;
}

.text-title-producto{
	color: #E1131B;
	font-size: 35px
}

.text-descripcion-producto{
	color: #666666;
	border-top: 1px solid #E1131B;
	padding-top: 5%;
	font-size: 18px;
}

.button-ficha-producto a{
	background-color: #E1131B ;
}

.button-ficha-producto a:hover{
	background-color:#FF4D4D ;
}

.imagen-producto-zoom {
	width:  345px;
	height: 300px;
	border: 1px solid #93989E;
}

.imagen-producto-zoom img{
  width: 90%;
  height: auto;
}


.miniatura-img{
	border: 1px solid #93989E;
}

.miniatura-img img{
	height: 90px;
}
.alert-error{
	background-color: #ef5350  !important;
	color: #FFFFFF;
	padding: 8px !important
}
.alert-success{
	background-color: #03a9f4  !important;
	color: #FFFFFF;
	padding: 8px !important
}


@supports(object-fit: cover){
    .imagen-producto-zoom img{
      height: 100%;
      object-fit: cover;
      object-position: center center;
    }
}
@supports(object-fit: cover){
    .miniatura-img img{
      height: 90px;
      object-fit: cover;
      object-position: center center;
    }
}
